*.keystore
*.jks
.DS_Store
**/release.keystore
**/node_modules
mobile/android/.gradle
mobile/android/app/.cxx
mobile/android/app/build
mobile/android/build
mobile/.gradle-home
.local-jdks
backend/dist
web/dist
