# Android Release Signing Configuration
# Provide absolute path to the release keystore file
RELEASE_STORE_FILE=my-release-key.keystore
RELEASE_STORE_PASSWORD=radius123
RELEASE_KEY_ALIAS=my-key-alias
RELEASE_KEY_PASSWORD=radius123

# API Configurations
EXPO_PUBLIC_API_URL=https://autoservice-backend-atyj.onrender.com/api/v1
EXPO_PUBLIC_SMS_LOGIN_ENABLED=true
